<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883443590448-sgqeiq0l4gvug8t95n0bsp0v8sian9c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883443590448-sgqeiq0l4gvug8t95n0bsp0v8sian9c5</string>
	<key>API_KEY</key>
	<string>AIzaSyAmBM21NMscUxk1wjOxUsfbpSt4SxA-Vuc</string>
	<key>GCM_SENDER_ID</key>
	<string>883443590448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Omarep.SavvySaving</string>
	<key>PROJECT_ID</key>
	<string>savvysaving-d68ef</string>
	<key>STORAGE_BUCKET</key>
	<string>savvysaving-d68ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883443590448:ios:52854c71e17336a31d54f5</string>
</dict>
</plist>